body {
	margin: 0;
	/*border-top: solid 50px #1b203d*/
}
/* Top navigation */
.logo {
	padding-top: 10px;
	padding-left: 10px;
	float: left;
}

nav {
	display: flex;
	font-weight: bold;
	float: right;
}
.icon i {
	display: block;
}
.icon {
	text-align: center;
}

i {
	color: #1b203d;
	font-size: 25px;
}
i:hover,
a:hover {
	color: #5bd2ff;
}

a {
	text-decoration: none;
}
nav a {
	font-size: 12px;
	color: #1b203d;
}
.game-search {
	height: 53px;
	border-radius: 15px;
	border-width: 2px;
	border-color: #1b203d;
}
.search-bar {
	background-image: linear-gradient(
			to bottom,
			rgb(255 255 255) 0%,
			rgb(255 255 255) 100%
		),
		linear-gradient(to top, #1b203d, #1b203d 50%, #1b203d 75%, #45047a 75%);
	background-clip: content-box, padding-box;
}
input[type="text" i] {
	padding: 1px 0 1px 20px;
}
header .search {
	max-width: 590px;
}
.fa-search {
	margin-left: -54px;
}
h1,
h2,
h3,
h4,
p,
a,
label {
	font-family: "Roboto", sans-serif;
}
h1 {
	color: #1b203d;
}
h2 {
	text-transform: uppercase;
}
a {
	color: black;
}
/* Game lists */

.border h2 {
	border-top: solid 1px #1b203d;
}
.product-img {
	height: 194px;
	box-shadow: 5px 4px 6px rgb(158, 158, 158);
}
label.heart {
	float: right;
	padding: 0;
	background-color: white;
}
label.heart:hover {
	box-shadow: none;
}
#save:checked ~ label .fa-heart,
#save-one:checked ~ label .fa-heart,
#save-two:checked ~ label .fa-heart,
#save-three:checked ~ label .fa-heart,
#save-four:checked ~ label .fa-heart,
#save-five:checked ~ label .fa-heart,
#save-six:checked ~ label .fa-heart,
#save-seven:checked ~ label .fa-heart,
#save-eight:checked ~ label .fa-heart,
#save-nine:checked ~ label .fa-heart,
#save-ten:checked ~ label .fa-heart,
#save-eleven:checked ~ label .fa-heart {
	color: #5bd2ff;
}
.circle-heart i.fa-circle,
.circle-heart-one i.fa-circle,
.circle-heart-two i.fa-circle,
.circle-heart-three i.fa-circle,
.circle-heart-four i.fa-circle,
.circle-heart-five i.fa-circle,
.circle-heart-six i.fa-circle,
.circle-heart-seven i.fa-circle,
.circle-heart-eight i.fa-circle,
.circle-heart-nine i.fa-circle,
.circle-heart-ten i.fa-circle,
.circle-heart-eleven i.fa-circle {
	visibility: hidden;
	top: 112px;
	right: 273px;
}
.title {
	margin-top: 25px;
}
.description {
	margin: 0px;
}
.rating {
	margin-top: 15px;
	margin-bottom: 0;
}
.fa-star {
	font-size: 10px;
	color: #5bd2ff;
}
.prize {
	font-size: 20px;
	color: #45047a;
	font-weight: bold;
	margin: 5px auto 5px auto;
	text-align: center;
}

label {
	position: relative;
	background-color: #baff3b;
	border: none;
	border-radius: 2px;
	font-weight: bold;
	color: black;
	padding: 5px 7px;
}

label:hover {
	box-shadow: 0 10px 20px rgb(0, 0, 0);
	cursor: pointer;
}
.one-added,
.one-one-added,
.one-two-added,
.one-three-added,
.one-four-added,
.one-five-added,
.one-six-added,
.one-seven-added,
.one-eight-added,
.one-nine-added,
.one-ten-added,
.one-eleven-added {
	visibility: hidden;
	background-color: black;
	color: #baff3b;
	box-shadow: 0 10px 20px rgb(0, 0, 0);
}
#add-to-cart,
#add-to-cart-one,
#add-to-cart-two,
#add-to-cart-three,
#add-to-cart-four,
#add-to-cart-five,
#add-to-cart-six,
#add-to-cart-seven,
#add-to-cart-eight,
#add-to-cart-nine,
#add-to-cart-ten,
#add-to-cart-eleven,
#save,
#save-one,
#save-two,
#save-three,
#save-four,
#save-five,
#save-six,
#save-seven,
#save-eight,
#save-nine,
#save-ten,
#save-eleven {
	display: none;
}
#add-to-cart:checked ~ .one-added,
#add-to-cart-one:checked ~ .one-one-added,
#add-to-cart-two:checked ~ .one-two-added,
#add-to-cart-three:checked ~ .one-three-added,
#add-to-cart-four:checked ~ .one-four-added,
#add-to-cart-five:checked ~ .one-five-added,
#add-to-cart-six:checked ~ .one-six-added,
#add-to-cart-seven:checked ~ .one-seven-added,
#add-to-cart-eight:checked ~ .one-eight-added,
#add-to-cart-nine:checked ~ .one-nine-added,
#add-to-cart-ten:checked ~ .one-ten-added,
#add-to-cart-eleven:checked ~ .one-eleven-added {
	visibility: visible;
}
.details .fa-circle,
.details-one .fa-circle,
.details-two .fa-circle,
.details-three .fa-circle,
.details-four .fa-circle,
.details-five .fa-circle,
.details-six .fa-circle,
.details-seven .fa-circle,
.details-eight .fa-circle,
.details-nine .fa-circle,
.details-ten .fa-circle,
.details-eleven .fa-circle {
	visibility: hidden;
	color: #5bd2ff;
	position: absolute;
	right: 171px;
	top: 100px;
}
.fa-circle {
	font-size: 9px;
	color: black;
	text-align: center;
}
a.two {
	background-color: #1b203d;
	border: none;
	color: white;
	text-align: center;
}
.two:hover {
	box-shadow: 0 10px 20px rgb(0, 0, 0);
	border: solid 2px #1b203d;
	background-color: white;
	color: black;
	cursor: pointer;
	transition: 0.2s;
}
/* Slogan and selling point */
.slogan {
	border: solid #1b203d 20px;
	text-align: center;
	margin: 60px auto 10px auto;
	max-width: 679px;
	background-image: url(/images/Logoslogan.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
}
section .text {
	margin: auto auto;
	width: 253px;
}
.text-link {
	text-decoration: underline;
	padding: 20px;
}
/* footer */
footer {
	border: solid 21px #5bd2ff;
	border-top: solid 1px #1b203d;
	border-left: hidden;
	border-right: hidden;
}
.topbutton {
	float: right;
}
.topbutton i {
	font-size: 60px;
}
li {
	list-style-type: none;
}
.navlinks li {
	font-size: 20px;
	padding: 3px;
}
footer .logotwo {
	height: 81px;
	margin-bottom: -17px;
}
footer p {
	text-align: center;
	font-size: 12px;
	margin-bottom: 1px;
	margin-top: 0;
}
.last a,
.last p {
	display: block;
	text-align: center;
	margin-top: 20px;
}

/*mobile styles*/

@media only screen and (max-width: 990px) {
	/* Top navigation*/
	.logo,
	.nav-top {
		margin-top: -58px;
	}
	nav {
		margin-right: 20px;
	}
	.icon {
		padding: 7px;
	}
	select {
		display: none;
	}
	.game-search {
		width: 311px;
		margin: 20px 0 0 30px;
	}
	.search-bar {
		border-top: solid 23px #1b203d;
		margin-top: 58px;
		padding: 6px 0 0 0;
	}
	/* Game lists */
	.scrolling {
		overflow: auto;
		max-width: 900px;
		height: 225px;
		margin-right: 30px;
		padding-right: 5px;
		display: grid;
		grid-template-areas: "product details product-one details-one product-two details-two";
	}
	h2 {
		padding-top: 20px;
		width: 95%;
		font-size: 17px;
	}
	h2,
	.product,
	.product-one,
	.product-two {
		margin-left: 30px;
	}
	.game,
	.game-one,
	.game-two {
		display: inline-block;
	}
	.details,
	.details-one,
	.details-two {
		position: relative;
		margin-left: 10px;
		width: 95px;
	}
	a.cta,
	label {
		font-size: 12px;
	}
	.title {
		font-size: 12px;
	}
	.description,
	.rating {
		font-size: 9px;
	}
	.pre .prize {
		margin-top: 23px;
	}
	.one,
	.one-one,
	.one-two,
	.one-three,
	.one-four,
	.one-five,
	.one-six,
	.one-seven,
	.one-eight,
	.one-nine,
	.one-ten,
	.one.eleven {
		width: 80px;
		height: 25px;
		font-size: 11px;
	}
	.one-added,
	.one-one-added,
	.one-two-added,
	.one-three-added,
	.one-four-added,
	.one-five-added,
	.one-six-added,
	.one-seven-added,
	.one-eight-added,
	.one-nine-added,
	.one-ten-added,
	.one-eleven-added {
		visibility: hidden;
		top: -17.8px;
		padding: 4.5px 18px;
	}
	.dots {
		text-align: center;
	}
	.dots i {
		margin: 3px;
	}
	.two {
		display: block;
		width: 146px;
		height: 25px;
		font-size: 1em;
		margin: 10px auto;
		padding: 10px 0;
	}
	.big {
		display: none;
	}
	#gamepad /*Tried to use class tag but ut got bugged when reloading*/ {
		display: none;
	}
	/* Slogan and selling point */
	.slogan {
		height: 130px;
		background-color: white;
	}
	main h1,
	.pointb,
	.slogan h2 {
		display: none;
	}
	.desktop {
		display: none;
	}
	/* footer */
	footer {
		margin-top: 75px;
	}
	.topbutton {
		margin-right: 35px;
	}
	.navlinks {
		padding-inline-start: 35px;
		margin-block-start: 30px;
		margin-block-end: 40px;
	}
	.social {
		text-align: center;
	}
	.social a {
		margin: 10px;
	}
}

/*desktop/tablet styles*/

@media only screen and (min-width: 991px) {
	/* Top navigation*/
	.phone {
		display: none;
	}
	.logo {
		margin: 70px 0 0 50px;
		height: 160px;
	}
	.nav-top {
		margin: 90px 150px 0 100px;
		padding: 0 5px 25px 5px;
		background-image: url(/images/Slogan.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom center;
	}
	.icon {
		padding: 10px;
	}
	.search-bar {
		border-top: solid 50px #1b203d;
		padding: 6px 0 50px 0;
		border-bottom: solid 6px #45047a;
		margin: 0;
	}
	header .search {
		display: flex;
		margin: 30px auto;
	}
	.game-search {
		z-index: 2;
		width: 450px;
		margin: 10px 10px 0 0;
	}
	.search a {
		z-index: 3;
		margin-top: 25px;
	}
	select {
		height: 59px;
		min-width: 170px;
		border-radius: 0 15px 15px 0;
		border: none;
		text-align: center;
		background: #1b203d;
		color: white;
		font-size: 15px;
		font-weight: bold;
		margin: 10px 0 10px -20px;
		z-index: 1;
	}
	select:hover {
		cursor: pointer;
		background-color: black;
	}
	h1 {
		text-align: center;
		border-bottom: solid #1b203d 1px;
		margin: 100px auto 0 auto;
		padding-bottom: 10px;
		width: 700px;
	}
	h2 {
		font-size: 25px;
		width: 100%;
		padding-top: 50px;
		margin: 0;
	}
	/* Game lists */
	main {
		overflow: hidden;
	}
	.list {
		margin: 0 auto 20px auto;
		width: 1115px;
		display: flex;
		flex-wrap: wrap;
		border: solid 10px white;
	}
	.scrolling {
		display: flex;
	}
	.product-img {
		width: 200px;
		height: auto;
	}
	.details,
	.details-one,
	.details-two {
		margin-right: 2%;
		margin-left: 10px;
		width: 118px;
	}
	.title {
		font-size: 18px;
	}
	.description,
	.rating {
		font-size: 14px;
	}
	.prize {
		margin-top: 27px;
	}
	.pre .title {
		margin-bottom: 40px;
	}
	.forge .title {
		margin-bottom: 20px;
	}
	.brand .prize {
		margin-top: 7px;
	}
	.one-added,
	.one-one-added,
	.one-two-added,
	.one-three-added,
	.one-four-added,
	.one-five-added,
	.one-six-added,
	.one-seven-added,
	.one-eight-added,
	.one-nine-added,
	.one-ten-added,
	.one-eleven-added {
		top: -19px;
		padding: 5.5px 25px;
	}
	#add-to-cart:checked ~ .fa-circle,
	#add-to-cart-one:checked ~ .fa-circle,
	#add-to-cart-two:checked ~ .fa-circle,
	#add-to-cart-three:checked ~ .fa-circle,
	#add-to-cart-four:checked ~ .fa-circle,
	#add-to-cart-five:checked ~ .fa-circle,
	#add-to-cart-six:checked ~ .fa-circle,
	#add-to-cart-seven:checked ~ .fa-circle,
	#add-to-cart-eight:checked ~ .fa-circle,
	#add-to-cart-nine:checked ~ .fa-circle,
	#add-to-cart-ten:checked ~ .fa-circle,
	#add-to-cart-eleven:checked ~ .fa-circle,
	#save:checked ~ .circle-heart i.fa-circle,
	#save-one:checked ~ .circle-heart-one i.fa-circle,
	#save-two:checked ~ .circle-heart-two i.fa-circle,
	#save-three:checked ~ .circle-heart-three i.fa-circle,
	#save-four:checked ~ .circle-heart-four i.fa-circle,
	#save-five:checked ~ .circle-heart-five i.fa-circle,
	#save-six:checked ~ .circle-heart-six i.fa-circle,
	#save-seven:checked ~ .circle-heart-seven i.fa-circle,
	#save-eight:checked ~ .circle-heart-eight i.fa-circle,
	#save-nine:checked ~ .circle-heart-nine i.fa-circle,
	#save-ten:checked ~ .circle-heart-ten i.fa-circle,
	#save-eleven:checked ~ .circle-heart-eleven i.fa-circle {
		visibility: visible;
	}
	.dots {
		display: none;
	}
	.two {
		font-size: 50px;
		padding: 95px 0;
		min-width: 125px;
	}
	.small {
		display: none;
	}
	section .desktop {
		min-width: 80px;
		height: auto;
		margin: 0;
		font-size: 50px;
	}
	section .mobile {
		display: none;
	}
	#gamepad /*Tried to use class tag but ut got bugged when reloading*/ {
		color: #1b203d;
		text-align: center;
		background-color: #1b203d;
		height: 130px;
		border: solid;
		border-bottom: 0;
		border-color: #5bd2ff;
		background-clip: content-box, padding-box;
		border-width: 40px 200px;
		display: block;
		z-index: -2;
		margin: 80px 0 -150px 0;
	}
	.fa-gamepad:hover {
		color: #1b203d;
	}
	/* Slogan and selling point */
	.slogan {
		height: 200px;
		align-items: center;
		background-color: white;
	}
	.text {
		min-width: 400px;
	}
	.text h2 {
		width: 95%;
	}
	.points {
		display: none;
	}
	/* footer */
	footer {
		margin-top: 100px;
	}
	.navb {
		max-width: 1425px;
	}
	.topbutton {
		margin-right: 100px;
	}
	.navlinks {
		padding-inline-start: 250px;
	}
	.social a {
		display: block;
		margin: 20px 0 -10px 70px;
		text-align: center;
	}
	.navbottom {
		display: flex;
		margin-top: 30px;
	}
}
