body {
	margin: 0;
	/*border-top: solid 50px #1b203d*/
}
/* Top navigation */
.logo {
	padding-top: 10px;
	padding-left: 10px;
	float: left;
}
.logo,
.nav-top {
	margin-top: -58px;
}
.icon i {
	display: block;
}
nav {
	display: flex;
	font-weight: bold;
	float: right;
	margin-right: 20px;
}
.icon {
	padding: 7px;
	text-align: center;
}

i {
	color: #1b203d;
	font-size: 25px;
}
i:hover,
a:hover {
	color: #5bd2ff;
}
a {
	text-decoration: none;
}
nav a {
	font-size: 12px;
	color: #1b203d;
}
nav .fa-circle {
	display: none;
}

/* Clicked icon effects

.fa-heart .fa-circle {
	color: #5bd2ff;
	margin: -14px 0 5px 15px;
}
.fa-shopping-cart .fa-circle {
	color: #5bd2ff;
	margin: -25px 0 17px 7px;
}
*/

li {
	list-style-type: none;
}
.game-search {
	width: 311px;
	height: 53px;
	border-radius: 15px;
	border-width: 3px;
	margin: 10px;
}
.search-bar {
	border-top: solid 23px #1b203d;
	margin-top: 58px;
	padding: 6px 0 0 0;
	background-image: linear-gradient(
			to bottom,
			rgb(255 255 255) 0%,
			rgb(255 255 255) 100%
		),
		linear-gradient(to top, #1b203d, #1b203d 50%, #1b203d 75%, #45047a 75%);
	background-clip: content-box, padding-box;
}
header .search {
	max-width: 590px;
	margin: 0 auto;
}
.fa-search {
	margin-left: -54px;
}

h1,
h2,
h3,
h4,
p,
a {
	font-family: "Roboto", sans-serif;
}
h1 {
	color: #1b203d;
}
h2 {
	text-transform: uppercase;
}
a {
	color: black;
}
/* Game lists */
.list {
	width: 300px;
	display: grid;
	grid-template-areas:
		"head head"
		"product details"
		"scrolldots scrolldots"
		"button button";
}
.border h2 {
	border-top: solid 1px #1b203d;
}
h2 {
	grid-area: head;
	font-size: 12px;
}
.product {
	grid-area: product;
}
.product-img {
	height: 194px;
	box-shadow: 5px 4px 6px rgb(158, 158, 158);
}
.details {
	grid-area: details;
	width: 95px;
}
.list .fa-heart {
	float: right;
}
.title {
	font-size: 12px;
	margin-top: 25px;
}
.description,
.rating {
	font-size: 9px;
}
.description {
	margin: 0px;
}
.rating {
	margin-top: 15px;
	margin-bottom: 0;
}
.fa-star {
	font-size: 10px;
	color: #5bd2ff;
}
.prize {
	font-size: 20px;
	color: #45047a;
	font-weight: bold;
	margin: 15px auto 0 auto;
	text-align: center;
}
.one {
	background-color: #baff3b;
	border: none;
	border-radius: 2px;
	width: 80px;
	height: 25px;
	font-size: 11px;
	font-weight: bold;
}
.ctatextone {
	margin: 0 auto;
}
.ctatexttwo {
	display: none;
}
.fa-circle {
	font-size: 9px;
	color: black;
	text-align: center;
}
.dots {
	grid-area: scrolldots;
	text-align: center;
}
.dots i {
	margin: 3px;
}
.two {
	grid-area: button;
	background-color: #1b203d;
	border: none;
	width: 146px;
	height: 35px;
	color: white;
	text-align: center;
	font-size: 1em;

	margin: 10px auto;
}
.one:hover {
	box-shadow: 0 10px 20px rgb(0, 0, 0);
	cursor: pointer;
}
.two:hover {
	box-shadow: 0 10px 20px rgb(0, 0, 0);
	cursor: pointer;
}

/* Clicked button effects
.one {
	color: #baff3b;
	background-color: black;
	box-shadow: 0 10px 20px rgb(0, 0, 0);
}
.ctatextone {
	display: none;
}
.ctatexttwo {
	display: contents;
	margin: 0 auto;
*/

/* Slogan and selling point */
.slogan {
	border: solid #1b203d 20px;
	text-align: center;
	margin: 50px auto;
	max-width: 679px;
	background-image: url(/images/Logoslogan.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
}
section .text {
	margin: auto auto;
	width: 253px;
}
.text-link {
	text-decoration: underline;
	padding: 20px;
}

/* footer */
.topbutton {
	float: right;
}
.topbutton i {
	font-size: 60px;
}
.navlinks li {
	font-size: 20px;
	padding: 3px;
}
footer .logotwo {
	height: 81px;
	margin-bottom: -17px;
}
footer p {
	text-align: center;
	font-size: 12px;
	margin-bottom: 1px;
	margin-top: 0;
}
.last a,
.last p {
	display: block;
	text-align: center;
	margin-top: 20px;
}

/*mobile styles*/

@media only screen and (max-width: 990px) {
	/* Top navigation*/
	select {
		display: none;
	}
	/* Game lists */
	h2,
	.product,
	.product-one,
	.product-two {
		margin-left: 30px;
		width: 150px;
	}
	/* Slogan and selling point */
	.slogan {
		height: 130px;
	}
	main h1,
	.pointb,
	.slogan h2 {
		display: none;
	}
	.text {
		width: 253px;
	}
	h2 {
		font-size: 17px;
	}
	.desktop {
		display: none;
	}
	/* footer */
	.topbutton {
		margin-right: 35px;
	}
	.navlinks {
		padding-inline-start: 35px;
		margin-block-start: 30px;
		margin-block-end: 40px;
	}
	.social {
		text-align: center;
	}
	.social a {
		margin: 10px;
	}
	footer {
		border: solid 21px #5bd2ff;
		border-top: solid 1px #1b203d;
		border-left: hidden;
		border-right: hidden;
	}
}

/*desktop/tablet styles*/

@media only screen and (min-width: 991px) {
	/* Top navigation*/
	.phone {
		display: none;
	}
	.logo {
		margin: 70px 0 0 50px;
		height: 160px;
	}
	.nav-top {
		margin: 90px 16vmin 0 0;
		padding: 0 5px 25px 5px;
		background-image: url(/images/Slogan.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom center;
	}
	.icon {
		padding: 10px;
	}
	.search-bar {
		border-top: solid 50px #1b203d;
		padding: 6px 0 50px 0;
		border-bottom: solid 6px #45047a;
		margin: 0;
	}
	header .search {
		display: flex;
		margin: 30px auto;
	}
	.game-search {
		z-index: 2;
		border-width: 2px;
		border-color: #1b203d;
		width: 450px;
		margin: 10px 10px 0 0;
	}
	.search a {
		z-index: 3;
		margin-top: 25px;
	}
	select {
		height: 59px;
		min-width: 170px;
		border-radius: 0 15px 15px 0;
		border: none;
		text-align: center;
		background: #1b203d;
		color: white;
		font-size: 15px;
		font-weight: bold;
		margin: 10px 0 10px -20px;
		z-index: 1;
	}
	h1 {
		text-align: center;
		border-bottom: solid #1b203d 1px;
		margin: 50px auto 0 auto;
		padding-bottom: 10px;
		width: 700px;
	}

	h2 {
		font-size: 25px;
		width: 100%;
		padding-top: 30px;
		margin: 0;
	}
	/* Game lists */
	.list {
		margin: 0 auto 20px auto;
		width: max-content;
		display: flex;
		flex-wrap: wrap;
		border: solid 10px white;
	}
	.product-img {
		width: 200px;
		height: auto;
	}
	.product,
	.product-one,
	.product-two {
		margin-left: 0;
		min-width: 160px;
		max-width: 20%;
	}
	.details,
	.details-one,
	.details-two {
		width: 95px;
		margin-right: 2%;
		margin-left: 10px;
		width: 100px;
	}
	.title {
		font-size: 20px;
	}
	.description,
	.rating,
	.one {
		font-size: 14px;
	}
	.one {
		width: 100%;
		height: 30px;
	}
	.dots {
		display: none;
	}
	section .desktop {
		min-width: 80px;
		height: auto;
		margin: 0;
		font-size: 50px;
		overflow: hidden;
	}
	section .mobile {
		display: none;
	}
	/* Slogan and selling point */
	.slogan {
		height: 200px;
		align-items: center;
	}
	.text {
		min-width: 400px;
	}
	.points {
		display: none;
	}

	/* footer */
	.navb {
		max-width: 1425px;
	}
	.topbutton {
		margin-right: 100px;
	}
	.navlinks {
		padding-inline-start: 280px;
	}
	.social a {
		display: block;
		margin: 20px 0 -10px 70px;
		text-align: center;
	}
	.navbottom {
		display: flex;
		margin-top: 30px;
	}
	footer {
		border: solid 21px #5bd2ff;
		border-top: solid 1px #1b203d;
		border-left: hidden;
		border-right: hidden;
		margin-top: 100px;
	}
}
