body {
	margin: 0;
	/*border-top: solid 50px #1b203d*/
}
/* Top navigation */
.logo {
	padding-top: 10px;
	padding-left: 10px;
	float: left;
}

nav {
	display: flex;
	font-weight: bold;
	float: right;
}
.icon i {
	display: block;
}
.icon {
	text-align: center;
}

i {
	color: #1b203d;
	font-size: 25px;
}
i:hover,
a:hover {
	color: #5bd2ff;
	transition: 0.2s;
	cursor: pointer;
}

a {
	text-decoration: none;
}
nav a {
	font-size: 12px;
	color: #1b203d;
}
.game-search {
	height: 53px;
	border-radius: 15px;
	border-width: 2px;
	border-color: #1b203d;
}
.search-bar {
	background-image: linear-gradient(to bottom, rgb(255 255 255) 0%, rgb(255 255 255) 100%),
		linear-gradient(to top, #1b203d, #1b203d 50%, #1b203d 75%, #1b203d 75%);
	background-clip: content-box, padding-box;
}
input[type="text" i],
input[type="email" i],
input[type="tel" i] {
	padding: 1px 0 1px 20px;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
}
header .search {
	max-width: 590px;
}
.fa-search {
	margin-left: -54px;
}
h1,
h2,
h3,
h4,
p,
a,
label {
	font-family: "Roboto", sans-serif;
}
h1 {
	color: #1b203d;
}
h2 {
	text-transform: uppercase;
}
a {
	color: black;
}
/* Game lists */

.popular-games-list,
.pre-order-games-list,
.brand-new-games-list,
.pre-used-games-list {
	display: flex;
	gap: 1%;
	justify-content: center;
}
.game,
.game-one,
.game-two {
	display: flex;
	gap: 3%;
	width: 370px;
}
.border h2 {
	border-top: solid 1px #1b203d;
}
.product-img {
	width: 100%;
	box-shadow: 5px 4px 6px rgb(158, 158, 158);
}
label.heart {
	float: right;
	padding: 0;
	background-color: white;
}
label.heart:hover {
	box-shadow: none;
}
.title {
	margin-top: 25px;
}
.description {
	margin: 0px;
}
.rating {
	margin-top: 15px;
	margin-bottom: 0;
}
.fa-star {
	font-size: 10px;
	color: #5bd2ff;
}
.prize {
	font-size: 20px;
	color: #45047a;
	font-weight: bold;
	margin: 5px auto 5px auto;
	text-align: center;
}
.popular-games-list label,
.pre-order-games-list label,
.brand-new-games-list label,
.pre-used-games-list label,
.cta {
	position: relative;
	background-color: #baff3b;
	border: none;
	border-radius: 2px;
	font-weight: bold;
	color: black;
	padding: 5px 7px;
}
.popular-games-list .heart,
.pre-order-games-list .heart,
.brand-new-games-list .heart,
.pre-used-games-list .heart {
	background-color: white;
}
.one:hover,
.one-one:hover,
.one-two:hover,
.one-three:hover,
.one-four:hover,
.one-five:hover,
.one-six:hover,
.one-seven:hover,
.one-eight:hover,
.one-nine:hover,
.one-ten:hover,
.one-eleven:hover,
.cta:hover {
	box-shadow: 0 10px 20px rgb(0, 0, 0);
	cursor: pointer;
	color: black;
	transition: 0.2s;
}
#add-to-cart,
#add-to-cart-one,
#add-to-cart-two,
#add-to-cart-three,
#add-to-cart-four,
#add-to-cart-five,
#add-to-cart-six,
#add-to-cart-seven,
#add-to-cart-eight,
#add-to-cart-nine,
#add-to-cart-ten,
#add-to-cart-eleven,
#save,
#save-one,
#save-two,
#save-three,
#save-four,
#save-five,
#save-six,
#save-seven,
#save-eight,
#save-nine,
#save-ten,
#save-eleven {
	display: none;
}
nav .fa-circle {
	visibility: hidden;
	font-size: 9px;
	color: #5bd2ff;
	position: absolute;
}
a.two {
	background-color: #1b203d;
	border: none;
	color: white;
	text-align: center;
}
.two:hover {
	box-shadow: 0 10px 20px rgb(0, 0, 0);
	border: solid 2px #1b203d;
	background-color: white;
	color: black;
	cursor: pointer;
	transition: 0.2s;
}
/* Slogan and selling point */
.slogan {
	border: solid #1b203d 20px;
	text-align: center;
	margin: 60px auto 10px auto;
	max-width: 679px;
	background-image: url(/images/Logoslogan.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
}
section .text {
	margin: auto auto;
	width: 253px;
}
.text-link {
	text-decoration: underline;
	padding: 10px;
}
/* footer */
footer {
	border-bottom: solid 21px #5bd2ff;
	border-top: solid 1px #1b203d;
	border-left: hidden;
	border-right: hidden;
}
.topbutton {
	float: right;
}
.topbutton i {
	font-size: 60px;
}
li {
	list-style-type: none;
}
.navlinks li {
	font-size: 20px;
	padding: 3px;
}
footer .logotwo {
	height: 81px;
	margin-bottom: -17px;
}
footer p {
	text-align: center;
	font-size: 12px;
	margin-bottom: 1px;
	margin-top: 0;
}
.last a,
.last p {
	display: block;
	text-align: center;
	margin-top: 20px;
}

/*mobile styles*/

@media only screen and (max-width: 990px) {
	/* Top navigation*/
	.logo {
		width: 108px;
	}
	nav {
		margin-right: 20px;
	}
	.icon {
		padding: 7px;
	}
	.circle-heart .fa-circle{
		top: 17px;
		right:129px;
	}
	.cart-circle .fa-circle {
		top: 6px;
		right: 36px;
	}
	select {
		display: none;
	}
	header {
		position: fixed;
		width: 100%;
		z-index: 1;
		background: white;
	}
	header .search {
		display: none;
		max-width: 100%;
		text-align: center;
	}
	.search-bar {
		border-top: solid 23px #1b203d;
		margin-top: 58px;
		padding: 6px 0 0 0;
		border-bottom: solid 6px #45047a;
		
	}
	main {
		padding-top: 100px;
	}
	/* Game lists */
	.list {
		width: fit-content;
		margin: 0 auto;
	}
	h2 {
		display: grid;
		margin: 0 auto;
		position: relative;
		padding: 20px 173px 20px 0;
		font-size: 17px;
	}
	h2,
	.product,
	.product-one,
	.product-two {
		margin-left: 30px;
	}
	.product-img {
		width: 151px;
	}
	.popular-games-list,
	.pre-order-games-list,
	.brand-new-games-list,
	.pre-used-games-list {
		flex-direction: column;
	}
	.game,
	.game-one,
	.game-two {
		margin-bottom: 20px;
		width: fit-content;
	}
	.details,
	.details-one,
	.details-two {
		position: relative;
		margin-left: 10px;
		min-width: 95px;
		width: 100px;
	}
	label {
		font-size: 12px;
	}
	.title {
		font-size: 12px;
	}
	.description,
	.rating {
		font-size: 9px;
	}
	.pre .prize {
		margin-top: 23px;
	}
	.one,
	.one-one,
	.one-two,
	.one-three,
	.one-four,
	.one-five,
	.one-six,
	.one-seven,
	.one-eight,
	.one-nine,
	.one-ten,
	.one.eleven {
		width: 80px;
		height: 25px;
		font-size: 11px;
	}
	.two {
		display: block;
		width: 146px;
		height: 25px;
		font-size: 1em;
		margin: 10px auto;
		padding: 10px 0;
	}
	.big {
		display: none;
	}
	#gamepad /*Tried to use class tag but ut got bugged when reloading*/ {
		display: none;
	}
	/* Slogan and selling point */
	.slogan {
		height: 130px;
		background-color: white;
	}
	main h1,
	.pointb,
	.slogan h2 {
		display: none;
	}
	.desktop {
		display: none;
	}
	/* footer */
	footer {
		margin-top: 75px;
	}
	.topbutton {
		margin-right: 35px;
	}
	.navlinks {
		padding-inline-start: 35px;
		margin-block-start: 30px;
		margin-block-end: 40px;
	}
	.social {
		text-align: center;
	}
	.social a {
		margin: 10px;
	}
}

/*desktop/tablet styles*/

@media only screen and (min-width: 991px) {
	/* Top navigation*/
	.phone {
		display: none;
	}
	.logo {
		margin: 70px 0 0 50px;
		height: 160px;
	}
	.nav-top {
		margin: 90px 75px 0 0;
		padding: 0 5px 25px 5px;
		background-image: url(/images/Slogan.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom center;
	}
	.icon {
		padding: 10px;
	}
	.circle-heart .fa-circle{
		top: 112px;
		right: 204px;
	}
	.cart-circle .fa-circle {
	right: 99px;
	top: 99px;	
	}
	.search-bar {
		border-top: solid 50px #1b203d;
		padding: 6px 0 50px 0;
		border-bottom: solid 6px #45047a;
		margin: 0;
	}
	header .search {
		display: flex;
		margin: 30px auto;
	}
	.game-search {
		z-index: 2;
		width: 450px;
		margin: 10px 10px 0 0;
	}
	.search a {
		z-index: 3;
		margin-top: 25px;
	}
	select {
		height: 59px;
		min-width: 170px;
		border-radius: 0 15px 15px 0;
		border: none;
		text-align: center;
		background: #1b203d;
		color: white;
		font-size: 15px;
		font-weight: bold;
		margin: 10px 0 10px -20px;
		z-index: 1;
	}
	select:hover {
		cursor: pointer;
		background-color: black;
	}

	/* Game lists */
	h1 {
		text-align: center;
		border-bottom: solid #1b203d 1px;
		margin: 75px auto 0 auto;
		padding-bottom: 10px;
		width: 700px;
	}
	h2 {
		font-size: 25px;
		width: 100%;
		padding-top: 40px;
		margin: 0;
	}
	.list {
		margin: 0 auto 20px auto;
		max-width: 1170px;
		border: solid 10px white;
	}
	.product-img {
		width: 100%;
	}
	.details,
	.details-one,
	.details-two {
		min-width: 125px;
		width: 125px;
	}
	.title {
		font-size: 18px;
	}
	.description,
	.rating {
		font-size: 14px;
	}
	.prize {
		margin-top: 20px;
	}
	.pre .title {
		margin-bottom: 40px;
	}
	.forge .title {
		margin-bottom: 20px;
	}
	.brand .prize {
		margin-top: 7px;
	}
	.details .fa-circle {
		right: 102px;
		top: 100px;
	}
	.two {
		font-size: 50px;
		padding: 95px 0;
		min-width: 125px;
	}
	.small {
		display: none;
	}
	section .desktop {
		min-width: 80px;
		height: auto;
		margin: 0;
		font-size: 50px;
	}
	section .mobile {
		display: none;
	}
	#gamepad /*Tried to use class tag but got bugged when reloading*/ {
		color: #1b203d;
		text-align: center;
		background-color: #1b203d;
		height: 130px;
		border: solid;
		border-bottom: 0;
		border-color: #5bd2ff;
		background-clip: content-box, padding-box;
		border-width: 40px 200px;
		display: block;
		z-index: -2;
		margin: 80px 0 -150px 0;
	}
	.fa-gamepad:hover {
		color: #1b203d;
	}
	/* Slogan and selling point */
	.slogan {
		height: 200px;
		align-items: center;
		background-color: white;
	}
	.text {
		min-width: 400px;
	}
	.text h2 {
		width: 95%;
	}
	.points {
		display: none;
	}
	/* footer */
	footer {
		margin-top: 100px;
	}
	.navb {
		max-width: 1425px;
	}
	.topbutton {
		margin-right: 100px;
	}
	.navlinks {
		padding-inline-start: 250px;
	}
	.social a {
		display: block;
		margin: 20px 0 -10px 70px;
		text-align: center;
	}
	.navbottom {
		display: flex;
		margin-top: 30px;
	}
}
